*{
    text-align: center;
}

body{
    background: -webkit-linear-gradient(left, #3a9cf7, #463d3d);
}

nav {
    margin: 10px;
}

.container {
    background-color: white;
    box-shadow: 0 10px 20px black;
}

.nav {
    color: white;
    background-color: black;
    font-size: 20px;
}

.btn{
    margin: 10px;
}

.margin {
    margin: 10px;
}

.background {
    background: Black;
}

h1 {
    color: white;
    padding: 10px;
}

img {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

p {
    margin: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.card {
    margin-bottom: 10px;
}

ul {
    margin: auto;
    list-style-position: inside;
}